@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .layout {
    @apply w-4/5 mx-auto;
  }

  .tooltip {
    @apply absolute z-10 flex flex-col p-4 pb-6 text-xs text-black-800 dark:text-gray-800 rounded top-4 shadow-lg bg-white-800 dark:bg-violet-800 w-72;
  }

  .episode {
    @apply text-center py-1 rounded-sm text-sm cursor-pointer flex justify-center;
  }

  .search {
    @apply bg-white-800 dark:bg-violet-800 py-2 px-4 rounded focus:outline-none pl-10 shadow-sm;
  }

  .player-container {
    @apply opacity-0 hover:opacity-100 bg-violet-skeleton bg-opacity-90 w-full absolute bottom-0 left-0 py-2 flex items-center px-2;
  }

  .skeleton-base {
    @apply animate-pulse rounded bg-white-skeleton dark:bg-violet-skeleton;
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #10b981;
}
